@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
span {
  color: rgb(100 21 255);
}
p {
  font-size: 11px;
  color: gray;
  line-height: 1.5;
  font-weight: 500;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  /* border: 2px solid violet; */
}
.logo {
  display: flex;
  align-items: center;
}
.logo_img {
  width: 40px;
  padding-right: 8px;
}

.nav_links {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav_links li {
  padding-left: 16px;
}
.nav_links a:link {
  color: rgb(165, 158, 158);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}
.nav_links a:visited {
  text-decoration: none;
  /* color: #000; */
  color: rgb(165, 158, 158);
}
.nav_links a:hover {
  cursor: pointer;
}
/* ACTIVE CAN BE ADDED */
.Sign_up {
  background-color: rgb(100 21 255);
  color: white;
  padding: 8px 20px;
  border-radius: 16px;
  border-style: none;
}
.hero {
  display: flex;
  margin: 48px;
  margin-bottom: 40px;
}
.left_column {
 
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}
.right-column {
  
  width: 60%;
}
.input_email {
  margin-bottom: 20px;
}
.Get_started {
  background-color: rgb(100 21 255);
  color: white;
  padding: 8px 20px;
  border-radius: 16px;
  border-style: none;
  
}
input {
  border-style: none;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 16px;
}
.companies {
  width: 80%;
  color: gray;
}
.right_column {
  width: 60%;
}
.hero_img {
  width: 100%;
}
.after-hero {
  padding: 80px 0;
}
.text-center-after-hero {
  text-align: center;
}
.service {
  font-size: xx-large;
  line-height: 1.5;
}
.features {
  color: rgb(100 21 255);
}
.paragraph-center {
  width: 50%;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.wrap {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  justify-content: center;
  justify-items: start;
  grid-row-gap: 48px;
  justify-content: space-evenly;
  margin: 40px;
}
.col2 {
  display: flex;
  gap: 18px;
}

/* .description {
  line-height: 2;
  font-weight: 500;
} */
.text-container {
  display: grid;
  justify-items: start;
  grid-row-gap: 8px;
  
}

/* SECTION# SBS */
.section_3{
  padding: 80px;
}
.sbs{
display: grid;
grid-template-columns: 50% 50%;
gap:20px;
padding: 80px 0;
}
.fifty{
  width: 100%;
}
.text_section3{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}